<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500770108271-qs40hlb5026dkm76dloevlqm163c9n5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500770108271-qs40hlb5026dkm76dloevlqm163c9n5e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>500770108271-3n2ditn2j7t88vcqkqjno75n77m1gjca.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9hUlTBl0QLdAf_PBk9des1vZH2sPjcVw</string>
	<key>GCM_SENDER_ID</key>
	<string>500770108271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatsApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-2d81c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-2d81c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500770108271:ios:9aadad502c914093e3ee9a</string>
</dict>
</plist>